<h1><%= @pirate.name %></h1>
<p><%= @pirate.weight %></p>
<p><%= @pirate.height %></p>

<% @ships.each do |ship| %>
    <div class="ships">
        <h2><%= ship.name %></h2>
        <p><%= ship.type %></p>
        <p><%= ship.booty %></p>
    </div>
<% end %>

